@model HaemophilusWeb.Models.Sender

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="pure-control-group">
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="pure-control-group">
    @Html.LabelFor(model => model.Type)
    @Html.EditorFor(model => model.Type)
    @Html.ValidationMessageFor(model => model.Type)
</div>

<div class="pure-control-group">
    @Html.LabelFor(model => model.PostalCode)
    @Html.EditorFor(model => model.PostalCode)
    @Html.ValidationMessageFor(model => model.PostalCode)
</div>

<div class="pure-control-group">
    @Html.LabelFor(model => model.City)
    @Html.EditorFor(model => model.City)
    @Html.ValidationMessageFor(model => model.City)
</div>

<div class="pure-control-group">
    @Html.LabelFor(model => model.Street)
    @Html.EditorFor(model => model.Street)
    @Html.ValidationMessageFor(model => model.Street)
</div>

<div class="pure-control-group">
    @Html.LabelFor(model => model.ContactInfo)
    @Html.EditorFor(model => model.ContactInfo)
    @Html.ValidationMessageFor(model => model.ContactInfo)
</div>