@model HaemophilusWeb.Models.Sender

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Sender</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Type</div>
    <div class="display-field">@Model.Type</div>

    <div class="display-label">PostalCode</div>
    <div class="display-field">@Model.PostalCode</div>

    <div class="display-label">City</div>
    <div class="display-field">@Model.City</div>

    <div class="display-label">Street</div>
    <div class="display-field">@Model.Street</div>

    <div class="display-label">ContactInfo</div>
    <div class="display-field">@Model.ContactInfo</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SenderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


