@model IEnumerable<HaemophilusWeb.Models.PubMlstMatchInfo>

@{
    ViewBag.Title = "PubMLST Matching abgeschlossen";
}
<p>
    @Html.ActionLink("Zurück zur Übersicht", "Index", "MeningoPatientSending", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Abfrage wiederholen", "PubMlstMatch", "MeningoIsolate", null, new { @class = "btn btn-default" })
</p>
<p>
    <b>
        Die Abfrage hat <i>@Model.Count()</i> Datensätze mit PubMLST abggeglichen.
        Davon wurden <i>@Model.Count(m => m.PubMlstId.HasValue)</i> anhand der Stammnummer gefunden.
    </b>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PubMlstId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Database)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StemNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LaboratoryNumber)
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @if (item.PubMlstId.HasValue)
        {
            <span style="color:#00CC00" class="glyphicon glyphicon-ok-sign" aria-hidden="true" title="-"></span>
            <a href="https://pubmlst.org/bigsdb?page=info&db=@item.Database&id=@item.PubMlstId" role="button"> @item.PubMlstId</a>
        }
        else
        {
            <span style="color:#CC0000" class="glyphicon glyphicon-remove-sign" aria-hidden="true" title="-"></span>
            <span> kein Treffer</span>
        }
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Database)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StemNumber)
    </td>
    <td>
        <a class="btn-sm btn btn-default" href="@Url.Action("Edit", "MeningoIsolate", new {id=item.IsolateId})" role="button">@item.LaboratoryNumber</a>
    </td>
</tr>
}

</table>
