@using System.Reflection
@using HaemophilusWeb.Controllers
@using HaemophilusWeb.Models
@using Microsoft.Ajax.Utilities
@model HaemophilusWeb.Models.ChangeLog
@{
    ViewBag.Title = "Über";
    ViewBag.Subtitle = "Informationen über Haemophilus Web";
}

<h2>Allgemein</h2>

<dl class="dl-horizontal">
    <dt>Aktuelle Version</dt>
    <dd>@Assembly.GetAssembly(typeof (HomeController)).GetName().Version</dd>
    <dt>Support</dt>
    <dd><a href="mailto:mreinhardt@hygiene.uni-wuerzburg.de">Markus Reinhardt</a></dd>
</dl>

@if (Model.NextChanges.Any())
{
    <h2>Künftige Änderungen</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.NextChanges.First().Priority)</th>
                <th>@Html.DisplayNameFor(model => model.NextChanges.First().Details)</th>
                <th>@Html.DisplayNameFor(model => model.NextChanges.First().Type)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.NextChanges)
            {
                <tr>
                    <td>@item.Priority</td>
                    <td>@Html.Raw(item.Details)</td>
                    <td>
                        @if (item.Type == ChangeType.Bug)
                        {
                            <span class="label label-danger">Fehlerbehebung</span>
                        }
                        else if (item.Type == ChangeType.Feature)
                        {
                            <span class="label label-info">Neue Funktion</span>
                        }
                        else if (item.Type == ChangeType.Design)
                        {
                            <span class="label label-success">Design</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.PreviousChanges.Any())
{
    <h2>Letzte Änderungen</h2>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.NextChanges.First().Date)</th>
                <th>@Html.DisplayNameFor(model => model.NextChanges.First().Details)</th>
                <th>@Html.DisplayNameFor(model => model.NextChanges.First().Type)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PreviousChanges)
            {
                <tr>
                    <td>@Html.ActionLink(item.Date.ToShortDateString(), "Change", new { id = item.Date.ToString("yyyy-MM-dd") })</td>
                    <td>@Html.Raw(item.Details)</td>
                    <td>
                        @if (item.Type == ChangeType.Bug)
                        {
                            <span class="label label-danger">Fehlerbehebung</span>
                        }
                        else if (item.Type == ChangeType.Feature)
                        {
                            <span class="label label-info">Neue Funktion</span>
                        }
                        else if (item.Type == ChangeType.Design)
                        {
                            <span class="label label-success">Design</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}