@{
    ViewBag.Title = "Haemophilus Web";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Prototyp für eine Webanwendung zur Verwaltung von Haemophilus Influenzae Isolaten.
            </p>
        </div>
    </section>
}
<h3>Schritt für Schritt:</h3>
<ol class="round">
    <li class="one">
        <b>@Html.ActionLink("Neuen Einsender anlegen", "Create", "Senders")</b><br/>
        @Html.ActionLink("Liste aller Einsender", "Index", "Senders")
    </li>
    
    <li class="two">
        <b>Patienten erfassen</b><br/>
        <a href="#">To be done…</a>
    </li>

    <li class="three">
        <b>@Html.ActionLink("Neues Isolat anlegen", "Create", "Isolates")</b><br/>
        @Html.ActionLink("Liste aller Isolate", "Index", "Isolates")
    </li>

    
</ol>