@{
    ViewBag.Title = "Haemophilus Web";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Prototyp für eine Webanwendung zur Verwaltung von Haemophilus Influenzae Isolaten.
            </p>
        </div>
    </section>
}
<h3>Schritt für Schritt:</h3>
<ol class="round">
    <li class="one">
        <h5>Einsender erfassen</h5>
        @Html.ActionLink("Neu erfassen...", "Create", "Senders")<br/>
        @Html.ActionLink("Vorhandene bearbeiten...", "Index", "Senders")<br/>
    </li>
    
    <li class="two">
        <h5>Patienten erfassen</h5>
        <a href="#">To be done…</a>
    </li>

    <li class="three">
        <h5>Isolate erfassen</h5>
        @Html.ActionLink("Neu anlegen...", "Create", "Isolates")<br/>
        @Html.ActionLink("Vorhandene bearbeiten...", "Index", "Isolates")<br/>
    </li>

    
</ol>
