@using HaemophilusWeb.Models
@using HaemophilusWeb.Utils
@using HaemophilusWeb.Views.Utils
@model HaemophilusWeb.Models.Patient

@Html.Partial("_QueryPostalCodeViaGeonames")

@Html.TextEditorFor(m => m.Initials, "E.M.")

@Html.DateEditorFor(m => m.BirthDate)

@Html.EnumRadioEditorFor(m => m.Gender)

<div class="form-group row">
    @Html.LabelFor(m => m.PostalCode, new { @class = "col-sm-2 col-form-label" })
    <div class="col-sm-5">
        @Html.TextBoxFor(m => m.PostalCode, new { @placeholder = "97080", @class = "form-control", @list = "postalCodeSearchresults", @autocomplete = "off" })
        <datalist id="postalCodeSearchresults"></datalist>
        @Html.ValidationMessageFor(model => model.PostalCode)
    </div>
</div>

@Html.TextEditorFor(m => m.City, "Würzburg")
@Html.TextEditorFor(m => m.County, "Würzburg")

<div class="form-group row">
    @Html.LabelFor(m => m.State, new { @class = "col-sm-2 col-form-label" })
    <div class="col-sm-5">
        @EnumEditor.EnumDropDownListFor(Html, model => model.State, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.State)
    </div>
</div>

@* TODO implement Country *@

@Html.EnumRadioEditorFor(m => m.ClinicalInformation, "col-sm-10")
<div id="OtherClinicalInformationForm" class="form-group row">
    @Html.LabelFor(m => m.OtherClinicalInformation, new { @class = "col-sm-2 col-form-label" })
    <div class="col-sm-5">
        @Html.TextBoxFor(m => m.OtherClinicalInformation, new { @class = "form-control", @list = "otherClinicalInformationAutocomplete", @autocomplete = "off" })
        <datalist id="otherClinicalInformationAutocomplete">
            @foreach (var item in ViewBag.PossibleOtherClinicalInformation)
            {
                <option value="@item.ToString()" />
            }
        </datalist>

        @Html.ValidationMessageFor(model => model.OtherClinicalInformation)
    </div>
</div>

@Html.EnumRadioEditorFor(m => m.HibVaccination)

@Html.DateEditorFor(m => m.HibVaccinationDate, "no-focus", "HibVaccinationDateForm")

@Html.EnumRadioEditorFor(m => m.Therapy)
<div id="TherapyDetailsForm" class="form-group row">
    @Html.LabelFor(m => m.TherapyDetails, new { @class = "col-sm-2 col-form-label" })
    <div class="col-sm-5">
        @Html.TextBoxFor(m => m.TherapyDetails, new { @class = "form-control", @list = "therapyDetailsAutocomplete", @autocomplete = "off" })
        <datalist id="therapyDetailsAutocomplete">
            @foreach (var item in ViewBag.PossibleTherapyDetails)
            {
                <option value="@item.ToString()" />
            }
        </datalist>
        @Html.ValidationMessageFor(model => model.TherapyDetails)
    </div>
</div>

<script>
    $(document).ready(function () {
        //TODO refactor all ShowXXXIfYYY methods to use ShowOnSpecificRadioValue
        ShowOtherClinicalInformationIfOtherIsSelected();
        ShowHibVaccinationDateIfHibVaccinationIsYes();
        ShowTherapyDetailsIfTherapyIsYes();
    });

    function ShowOtherClinicalInformationIfOtherIsSelected() {
        ShowDivIfCheckBoxHasSpecificSelectedValueOrClearInputOtherwise(
            "#OtherClinicalInformationForm", "input:checkbox[name$='ClinicalInformation']",
            "input:checkbox[name$='ClinicalInformation']:checked",
            "Other", "[id$='OtherClinicalInformation']"
        );
    }

    function ShowHibVaccinationDateIfHibVaccinationIsYes() {
        ShowDivIfInputHasSpecificSelectedValueOrClearInputOtherwise(
            "#HibVaccinationDateForm", "input:radio[name$='HibVaccination']",
            "input:radio[name$='HibVaccination']:checked",
            "Yes", "[id$='HibVaccinationDate']"
        );
    }

    function ShowTherapyDetailsIfTherapyIsYes() {
        ShowDivIfInputHasSpecificSelectedValueOrClearInputOtherwise(
            "#TherapyDetailsForm", "input:radio[name$='Therapy']",
            "input:radio[name$='Therapy']:checked",
            "Yes", "[id$='TherapyDetails']"
        );
    }

</script>

