@using HaemophilusWeb.Models
@using HaemophilusWeb.Views.Utils
@model HaemophilusWeb.Models.Patient

@Html.Partial("_QueryPostalCodeViaGeonames")

@Html.TextEditorFor(m => m.Initials, "E.M.")

<div class="form-group">
    @Html.LabelFor(m => m.BirthDate, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-5">
        <div class="input-group">
            @{ Html.EnableClientValidation(false); }
            @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control datepicker", @type = "datetime", @Value = Model == null ? "" : String.Format("{0:dd.MM.yyyy}", Model.BirthDate) })
            @{ Html.EnableClientValidation(true); }
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        @Html.ValidationMessageFor(model => model.BirthDate)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Gender, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-5">
        @Html.EnumRadioButtonFor(m => m.Gender)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.PostalCode, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-5">
        @Html.TextBoxFor(m => m.PostalCode, new { @placeholder = "97080", @class = "form-control", @list = "postalCodeSearchresults", @autocomplete = "off" })
        <datalist id="postalCodeSearchresults"></datalist>
        @Html.ValidationMessageFor(model => model.PostalCode)
    </div>
</div>

@Html.TextEditorFor(m => m.City, "Würzburg")
@Html.TextEditorFor(m => m.County, "Würzburg")

<div class="form-group">
    @Html.LabelFor(m => m.State, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-5">
        @Html.EnumDropDownListFor(model => model.State, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.State)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.ClinicalInformation, new { @class = "col-sm-2 control-label" })
    <div class="col-lg-9">
        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default@(Model.ClinicalInformation.HasFlag(ClinicalInformation.NotAvailable) ? " active" : string.Empty)">
                <input type="checkbox" name="ClinicalInformation" value="NotAvailable" @(Model.ClinicalInformation.HasFlag(ClinicalInformation.NotAvailable) ? " checked" : string.Empty) /> k.A.
            </label>
            <label class="btn btn-default@(Model.ClinicalInformation.HasFlag(ClinicalInformation.Meningitis) ? " active" : string.Empty)">
                <input type="checkbox" name="ClinicalInformation" value="Meningitis" @(Model.ClinicalInformation.HasFlag(ClinicalInformation.Meningitis) ? " checked" : string.Empty) /> Meningitis
            </label>
            <label class="btn btn-default@(Model.ClinicalInformation.HasFlag(ClinicalInformation.Sepsis) ? " active" : string.Empty)">
                <input type="checkbox" name="ClinicalInformation" value="Sepsis" @(Model.ClinicalInformation.HasFlag(ClinicalInformation.Sepsis) ? " checked" : string.Empty) /> Sepsis
            </label>
            <label class="btn btn-default@(Model.ClinicalInformation.HasFlag(ClinicalInformation.Pneumonia) ? " active" : string.Empty)">
                <input type="checkbox" name="ClinicalInformation" value="Pneumonia" @(Model.ClinicalInformation.HasFlag(ClinicalInformation.Pneumonia) ? " checked" : string.Empty) /> Pneumonie
            </label>
            <label class="btn btn-default@(Model.ClinicalInformation.HasFlag(ClinicalInformation.Other) ? " active" : string.Empty)">
                <input type="checkbox" name="ClinicalInformation" value="Other" @(Model.ClinicalInformation.HasFlag(ClinicalInformation.Other) ? " checked" : string.Empty) /> Andere
            </label>
        </div>
    </div>
</div>
<div id="OtherClinicalInformationForm" class="form-group">
    @Html.LabelFor(m => m.OtherClinicalInformation, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-5">
        @Html.TextBoxFor(m => m.OtherClinicalInformation, new { @class = "form-control", @list = "otherClinicalInformationAutocomplete", @autocomplete = "off" })
        <datalist id="otherClinicalInformationAutocomplete">
            @foreach (var item in ViewBag.PossibleOtherClinicalInformation)
            {
                <option value="@item.ToString()" />
            }
        </datalist>

        @Html.ValidationMessageFor(model => model.OtherClinicalInformation)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.HibVaccination, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-5">
        @Html.EnumRadioButtonFor(m => m.HibVaccination)
    </div>
</div>
<div id="HibVaccinationDateForm" class="form-group">
    @Html.LabelFor(m => m.HibVaccinationDate, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-5">
        <div class="input-group">
            @{ Html.EnableClientValidation(false); }
            @Html.TextBoxFor(m => m.HibVaccinationDate, new { @class = "form-control datepicker", @type = "datetime", @Value = Model == null ? "" : String.Format("{0:dd.MM.yyyy}", Model.HibVaccinationDate) })
            @{ Html.EnableClientValidation(true); }
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        @Html.ValidationMessageFor(model => model.HibVaccinationDate)
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Therapy, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-5">
        @Html.EnumRadioButtonFor(m => m.Therapy)
    </div>
</div>
<div id="TherapyDetailsForm" class="form-group">
    @Html.LabelFor(m => m.TherapyDetails, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-5">
        @Html.TextBoxFor(m => m.TherapyDetails, new { @class = "form-control", @list = "therapyDetailsAutocomplete", @autocomplete = "off" })
        <datalist id="therapyDetailsAutocomplete">
            @foreach (var item in ViewBag.PossibleTherapyDetails)
            {
                <option value="@item.ToString()" />
            }
        </datalist>
        @Html.ValidationMessageFor(model => model.TherapyDetails)
    </div>
</div>

<script>
    $(document).ready(function () {
        ShowOtherClinicalInformationIfOtherIsSelected();
        ShowHibVaccinationDateIfHibVaccinationIsYes();
        ShowTherapyDetailsIfTherapyIsYes();
    });

    function ShowOtherClinicalInformationIfOtherIsSelected() {
        ShowDivIfCheckBoxHasSpecificSelectedValueOrClearInputOtherwise(
            "#OtherClinicalInformationForm", "input:checkbox[name$='ClinicalInformation']",
            "input:checkbox[name$='ClinicalInformation']:checked",
            "Other", "[id$='OtherClinicalInformation']"
        );
    }

    function ShowHibVaccinationDateIfHibVaccinationIsYes() {
        ShowDivIfInputHasSpecificSelectedValueOrClearInputOtherwise(
            "#HibVaccinationDateForm", "input:radio[name$='HibVaccination']",
            "input:radio[name$='HibVaccination']:checked",
            "Yes", "[id$='HibVaccinationDate']"
        );
    }

    function ShowTherapyDetailsIfTherapyIsYes() {
        ShowDivIfInputHasSpecificSelectedValueOrClearInputOtherwise(
            "#TherapyDetailsForm", "input:radio[name$='Therapy']",
            "input:radio[name$='Therapy']:checked",
            "Yes", "[id$='TherapyDetails']"
        );
    }

</script>

