@model HaemophilusWeb.Models.Sending

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sending</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SenderId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SamplingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SamplingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceivingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceivingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SamplingLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SamplingLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherSamplingLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherSamplingLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invasive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invasive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenderLaboratoryNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderLaboratoryNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenderSpecies)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderSpecies)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SendingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
