@using HaemophilusWeb.Extensions
@using HaemophilusWeb.Models
@model HaemophilusWeb.Models.Isolate

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="pure-control-group">
    @Html.LabelFor(model => model.SenderId)
    @Html.DropDownListFor(model => model.SenderId, ((IEnumerable<Sender>) ViewBag.PossibleSenders).Select(option => new SelectListItem
    {
        Text = (option == null ? "None" : option.Name),
        Value = option.SenderId.ToString(),
        Selected = (Model != null) && (option.SenderId == Model.SenderId)
    }), "Auswählen...")
    @Html.ValidationMessageFor(model => model.SenderId)
</div>

<div class="pure-control-group">
    @Html.LabelFor(model => model.LaboratoryNumber)
    
    @Html.EditorFor(model => model.LaboratoryNumber)
    @Html.ValidationMessageFor(model => model.LaboratoryNumber)
</div>

<div class="pure-control-group">
    @Html.LabelFor(model => model.StemNumber)
    @Html.EditorFor(model => model.StemNumber)
    @Html.ValidationMessageFor(model => model.StemNumber)
</div>

<div class="pure-control-group">
    @Html.LabelFor(model => model.SamplingDate)
    @Html.JQueryUI().DatepickerFor(model => model.SamplingDate)
    @Html.ValidationMessageFor(model => model.SamplingDate)
</div>

<div class="pure-control-group">
    @Html.LabelFor(model => model.ReceivingDate)
    @Html.JQueryUI().DatepickerFor(model => model.ReceivingDate)
    @Html.ValidationMessageFor(model => model.ReceivingDate)
</div>

<div class="pure-control-group">
    @Html.LabelFor(model => model.Material)
    @Html.EnumDropDownListFor(model => model.Material)
    @Html.ValidationMessageFor(model => model.Material)
</div>

<div class="pure-control-group">
    @Html.LabelFor(model => model.SenderLaboratory)
    @Html.EditorFor(model => model.SenderLaboratory)
    @Html.ValidationMessageFor(model => model.SenderLaboratory)
</div>

<div class="pure-control-group">
    @Html.LabelFor(model => model.Invasive)
    @Html.EditorFor(model => model.Invasive)
    @Html.ValidationMessageFor(model => model.Invasive)
</div>

<div class="pure-control-group">
    @Html.LabelFor(model => model.SenderConclusion)
    @Html.EditorFor(model => model.SenderConclusion)
    @Html.ValidationMessageFor(model => model.SenderConclusion)
</div>

<div class="pure-control-group">
    @Html.LabelFor(model => model.FactorTestResults)
    @Html.EditorFor(model => model.FactorTestResults)
    @Html.ValidationMessageFor(model => model.FactorTestResults)
</div>

<div class="pure-control-group">
    @Html.LabelFor(model => model.AmpicillinEtest)
    @Html.EditorFor(model => model.AmpicillinEtest)
    @Html.ValidationMessageFor(model => model.AmpicillinEtest)
</div>

<div class="pure-control-group">
    @Html.LabelFor(model => model.AmoxicillinToClavulanicAcid)
    @Html.EditorFor(model => model.AmoxicillinToClavulanicAcid)
    @Html.ValidationMessageFor(model => model.AmoxicillinToClavulanicAcid)
</div>

<div class="pure-control-group">
    @Html.LabelFor(model => model.MeropenemEtest)
    @Html.EditorFor(model => model.MeropenemEtest)
    @Html.ValidationMessageFor(model => model.MeropenemEtest)
</div>

<div class="pure-control-group">
    @Html.LabelFor(model => model.CefotaximEtest)
    @Html.EditorFor(model => model.CefotaximEtest)
    @Html.ValidationMessageFor(model => model.CefotaximEtest)
</div>

<div class="pure-control-group">
    @Html.LabelFor(model => model.Rrna16S)
    @Html.EnumDropDownListFor(model => model.Rrna16S)
    @Html.ValidationMessageFor(model => model.Rrna16S)
</div>
<div class="pure-control-group">
    @Html.LabelFor(model => model.SerotypePcr)
    @Html.EnumDropDownListFor(model => model.SerotypePcr)
    @Html.ValidationMessageFor(model => model.SerotypePcr)
</div>
<div class="pure-control-group">
    @Html.LabelFor(model => model.BexA)
    @Html.EnumDropDownListFor(model => model.BexA)
    @Html.ValidationMessageFor(model => model.BexA)
</div>
<div class="pure-control-group">
    @Html.LabelFor(model => model.OmpP2)
    @Html.EnumDropDownListFor(model => model.OmpP2)
    @Html.ValidationMessageFor(model => model.OmpP2)
</div>
<div class="pure-control-group">
    @Html.LabelFor(model => model.ApiNh)
    @Html.EnumDropDownListFor(model => model.ApiNh)
    @Html.ValidationMessageFor(model => model.ApiNh)
</div>
<div class="pure-control-group">
    @Html.LabelFor(model => model.Agglutination)
    @Html.EnumDropDownListFor(model => model.Agglutination)
    @Html.ValidationMessageFor(model => model.Agglutination)
</div>
<div class="pure-control-group">
    @Html.LabelFor(model => model.BetaLactamase)
    @Html.EnumDropDownListFor(model => model.BetaLactamase)
    @Html.ValidationMessageFor(model => model.BetaLactamase)
</div>
<div class="pure-control-group">
    @Html.LabelFor(model => model.Oxidase)
    @Html.EnumDropDownListFor(model => model.Oxidase)
    @Html.ValidationMessageFor(model => model.Oxidase)
</div>


<div class="pure-control-group">
    @Html.LabelFor(model => model.Evaluation)
    @Html.EditorFor(model => model.Evaluation)
    @Html.ValidationMessageFor(model => model.Evaluation)
</div>

<div class="pure-control-group">
    @Html.LabelFor(model => model.Comment)
    @Html.TextAreaFor(model => model.Comment)
    @Html.ValidationMessageFor(model => model.Comment)
</div>

<div class="pure-control-group">
    @Html.LabelFor(model => model.ReportingDate)
    @Html.JQueryUI().DatepickerFor(model => model.ReportingDate)
    @Html.ValidationMessageFor(model => model.ReportingDate)
</div>