@model HaemophilusWeb.Models.Isolate

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Isolate</legend>

    <div class="display-label">LaboratoryNumber</div>
    <div class="display-field">@Model.LaboratoryNumber</div>

    <div class="display-label">StemNumber</div>
    <div class="display-field">@Model.StemNumber</div>

    <div class="display-label">ReceivingDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.ReceivingDate)</div>

    <div class="display-label">SamplingDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.SamplingDate)</div>

    <div class="display-label">SenderLaboratory</div>
    <div class="display-field">@Model.SenderLaboratory</div>

    <div class="display-label">Material</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Material).ToString()</div>

    <div class="display-label">Invasive</div>
    <div class="display-field">@Model.Invasive</div>

    <div class="display-label">SenderConclusion</div>
    <div class="display-field">@Model.SenderConclusion</div>

    <div class="display-label">Oxidase</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Oxidase).ToString()</div>

    <div class="display-label">BetaLactamase</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.BetaLactamase).ToString()</div>

    <div class="display-label">Agglutination</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Agglutination).ToString()</div>

    <div class="display-label">FactorTestResults</div>
    <div class="display-field">@Model.FactorTestResults</div>

    <div class="display-label">AmpicillinEtest</div>
    <div class="display-field">@Model.AmpicillinEtest</div>

    <div class="display-label">AmoxicillinToClavulanicAcid</div>
    <div class="display-field">@Model.AmoxicillinToClavulanicAcid</div>

    <div class="display-label">MeropenemEtest</div>
    <div class="display-field">@Model.MeropenemEtest</div>

    <div class="display-label">CefotaximEtest</div>
    <div class="display-field">@Model.CefotaximEtest</div>

    <div class="display-label">ApiNh</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.ApiNh).ToString()</div>

    <div class="display-label">OmpP2</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.OmpP2).ToString()</div>

    <div class="display-label">BexA</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.BexA).ToString()</div>

    <div class="display-label">SerotypePcr</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.SerotypePcr).ToString()</div>

    <div class="display-label">Rrna16S</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Rrna16S).ToString()</div>

    <div class="display-label">Evaluation</div>
    <div class="display-field">@Model.Evaluation</div>

    <div class="display-label">Comment</div>
    <div class="display-field">@Model.Comment</div>

    <div class="display-label">ReportingDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.ReportingDate)</div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}