@model HaemophilusWeb.Models.Isolate

@{
    ViewBag.Title = "Isolat bearbeiten";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "pure-form pure-form-aligned"}))
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.HaemophilusId)
    @Html.Partial("_CreateOrEdit", Model)

    <p>
        <button type="submit" class="pure-button">Änderungen speichern</button>
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>