@using HaemophilusWeb.Models
@model IEnumerable<HaemophilusWeb.Models.Isolate>

@{
    ViewBag.Title = "Isolate";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Neues Isolat anlegen", "Create")
</p>
<table  class="pure-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LaboratoryNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StemNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SamplingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportingDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Isolate item in Model)
        {
            <tr>
                <td>
                    @item.LaboratoryNumber
                </td>
                <td>
                    @item.StemNumber
                </td>
                <td>
                    @String.Format("{0:g}", item.ReceivingDate)
                </td>
                <td>
                    @String.Format("{0:g}", item.SamplingDate)
                </td>
                <td>
                    @String.Format("{0:g}", item.ReportingDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.HaemophilusId}) |
                    @Html.ActionLink("Details", "Details", new {id = item.HaemophilusId}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.HaemophilusId})
                </td>
            </tr>
        }
    </tbody>
</table>