@using HaemophilusWeb.Views.Utils
@model HaemophilusWeb.ViewModels.IsolateViewModel

@{
    ViewBag.Title = "Isolat bearbeiten";
    ViewBag.Controller = "PatientSending";
}

@section EditModel
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.TheIsolate.SendingId)

    <div class="form-group">
        @Html.LabelFor(model => model.TheIsolate.IsolateId, new {@class = "control-label col-sm-2"})
        <div class="col-sm-5">
            @Html.DisplayFor(model => model.TheIsolate.IsolateId)
            @Html.HiddenFor(model => model.TheIsolate.IsolateId)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TheIsolate.LaboratoryNumber, new {@class = "control-label col-sm-2"})
        <div class="col-sm-5">
            @Html.DisplayFor(model => model.TheIsolate.LaboratoryNumber)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TheIsolate.FactorTest, new {@class = "col-sm-2 control-label"})
        <div class="col-sm-5">
            @Html.EnumDropDownListFor(model => model.TheIsolate.FactorTest, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.TheIsolate.FactorTest)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TheIsolate.Agglutination, new {@class = "col-sm-2 control-label"})
        <div class="col-sm-5">
            @Html.EnumDropDownListFor(model => model.TheIsolate.Agglutination, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.TheIsolate.Agglutination)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TheIsolate.BetaLactamase, new {@class = "col-sm-2 control-label"})
        <div class="col-sm-5">
            @Html.EnumDropDownListFor(model => model.TheIsolate.BetaLactamase, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.TheIsolate.BetaLactamase)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TheIsolate.Oxidase, new {@class = "col-sm-2 control-label"})
        <div class="col-sm-5">
            @Html.EnumDropDownListFor(model => model.TheIsolate.Oxidase, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.TheIsolate.Oxidase)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TheIsolate.OuterMembraneProteinP2, new {@class = "col-sm-2 control-label"})
        <div class="col-sm-5">
            @Html.EnumDropDownListFor(model => model.TheIsolate.OuterMembraneProteinP2, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.TheIsolate.OuterMembraneProteinP2)
        </div>
    </div>
        
    <div class="form-group">
        @Html.LabelFor(model => model.TheIsolate.FuculoKinase, new {@class = "col-sm-2 control-label"})
        <div class="col-sm-5">
            @Html.EnumDropDownListFor(model => model.TheIsolate.FuculoKinase, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.TheIsolate.FuculoKinase)
        </div>
    </div>
       
    <div class="form-group">
        @Html.LabelFor(model => model.TheIsolate.OuterMembraneProteinP6, new {@class = "col-sm-2 control-label"})
        <div class="col-sm-5">
            @Html.EnumDropDownListFor(model => model.TheIsolate.OuterMembraneProteinP6, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.TheIsolate.OuterMembraneProteinP6)
        </div>
    </div>
        
    <div class="form-group">
        @Html.LabelFor(model => model.TheIsolate.BexA, new {@class = "col-sm-2 control-label"})
        <div class="col-sm-5">
            @Html.EnumDropDownListFor(model => model.TheIsolate.BexA, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.TheIsolate.BexA)
        </div>
    </div>
        
    <div class="form-group">
        @Html.LabelFor(model => model.TheIsolate.SerotypePcr, new {@class = "col-sm-2 control-label"})
        <div class="col-sm-5">
            @Html.EnumDropDownListFor(model => model.TheIsolate.SerotypePcr, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.TheIsolate.SerotypePcr)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TheIsolate.RibosomalRna16S, new {@class = "col-sm-2 control-label"})
        <div class="col-sm-5">
            @Html.EnumDropDownListFor(model => model.TheIsolate.RibosomalRna16S, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.TheIsolate.RibosomalRna16S)
        </div>
    </div>
        
    <div class="form-group">
        @Html.LabelFor(model => model.TheIsolate.ApiNh, new {@class = "col-sm-2 control-label"})
        <div class="col-sm-5">
            @Html.EnumDropDownListFor(model => model.TheIsolate.ApiNh, new {@class = "form-control"})
            @Html.ValidationMessageFor(model => model.TheIsolate.ApiNh)
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Ampicillin, new { @class = "col-sm-2 col-xs-12 control-label" })
        @Html.EditorFor(model => model.Ampicillin, new { @class = "form-control" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.AmoxicillinClavulanate, new { @class = "col-sm-2 control-label" })
        @Html.EditorFor(model => model.AmoxicillinClavulanate, new { @class = "form-control" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Meropenem, new { @class = "col-sm-2 control-label" })
        @Html.EditorFor(model => model.Meropenem, new { @class = "form-control" })
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.Cefotaxime, new { @class = "col-sm-2 control-label" })
        @Html.EditorFor(model => model.Cefotaxime, new { @class = "form-control" })
    </div>
}
}