@using HaemophilusWeb.Views.Utils
@model HaemophilusWeb.Models.Patient

@Html.Partial("_QueryPostalCodeViaGeonames")

<div class="form-group">
    @Html.LabelFor(m => m.Initials, new {@class = "col-sm-2 control-label"})

    <div class="col-sm-5">
        <div class="input-group">
            @Html.TextBoxFor(m => m.Initials, new {@placeholder = "E.M.", @class = "form-control"})
            <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>
        </div>
        @Html.ValidationMessageFor(model => model.Initials)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.BirthDate, new {@class = "col-sm-2 control-label"})
    <div class="col-sm-5">
        <div class="input-group">
            @{ Html.EnableClientValidation(false); }
            @Html.TextBoxFor(m => m.BirthDate, new {@class = "form-control datepicker", @type = "datetime", @Value = Model == null ? "" : String.Format("{0:dd.MM.yyyy}", Model.BirthDate)})
            @{ Html.EnableClientValidation(true); }
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        @Html.ValidationMessageFor(model => model.BirthDate)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Gender, new {@class = "col-sm-2 control-label"})
    <div class="col-sm-5">
        @Html.EnumDropDownListFor(model => model.Gender, new {@class = "form-control"})
        @Html.ValidationMessageFor(model => model.Gender)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.PostalCode, new {@class = "col-sm-2 control-label"})
    <div class="col-sm-5">
        @Html.TextBoxFor(m => m.PostalCode, new {@placeholder = "97080", @class = "form-control", @list = "postalCodeSearchresults", @autocomplete = "off"})
        <datalist id="postalCodeSearchresults"></datalist>
        @Html.ValidationMessageFor(model => model.PostalCode)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.City, new {@class = "col-sm-2 control-label"})
    <div class="col-sm-5">
        @Html.TextBoxFor(m => m.City, new {@placeholder = "Würzburg", @class = "form-control"})
        @Html.ValidationMessageFor(model => model.City)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.County, new {@class = "col-sm-2 control-label"})
    <div class="col-sm-5">
        @Html.TextBoxFor(m => m.County, new {@placeholder = "Würzburg", @class = "form-control"})
        @Html.ValidationMessageFor(model => model.County)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.State, new {@class = "col-sm-2 control-label"})
    <div class="col-sm-5">
        @Html.EnumDropDownListFor(model => model.State, new {@class = "form-control"})
        @Html.ValidationMessageFor(model => model.State)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ClinicalInformation, new {@class = "col-sm-2 control-label"})
    <div class="col-sm-5">
        @Html.EnumDropDownListFor(m => m.ClinicalInformation, new {@class = "form-control"})
        @Html.ValidationMessageFor(model => model.ClinicalInformation)
    </div>
</div>
<div id="OtherClinicalInformationForm" class="form-group">
    @Html.LabelFor(m => m.OtherClinicalInformation, new {@class = "col-sm-2 control-label"})
    <div class="col-sm-5">
        @Html.TextBoxFor(m => m.OtherClinicalInformation, new {@class = "form-control"})
        @Html.ValidationMessageFor(model => model.OtherClinicalInformation)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.HibVaccination, new {@class = "col-sm-2 control-label"})
    <div class="col-sm-5">
        @Html.EnumDropDownListFor(model => model.HibVaccination, new {@class = "form-control"})
        @Html.ValidationMessageFor(model => model.HibVaccination)
    </div>
</div>
<div id="HibVaccinationDateForm" class="form-group">
    @Html.LabelFor(m => m.HibVaccinationDate, new {@class = "col-sm-2 control-label"})
    <div class="col-sm-5">
        <div class="input-group">
            @{ Html.EnableClientValidation(false); }
            @Html.TextBoxFor(m => m.HibVaccinationDate, new {@class = "form-control datepicker", @type = "datetime", @Value = Model == null ? "" : String.Format("{0:dd.MM.yyyy}", Model.HibVaccinationDate)})
            @{ Html.EnableClientValidation(true); }
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
        @Html.ValidationMessageFor(model => model.HibVaccinationDate)
    </div>
</div>

<script>
    $(document).ready(function()
    {
        ShowOtherClinicalInformationIfOtherIsSelected();
        ShowHibVaccinationDateIfHibVaccinationIsYes();
    });

    function ShowOtherClinicalInformationIfOtherIsSelected()
    {
        ShowDivIfDropDownHasSpecificSelectedValueOrClearInputOtherwise(
            "#OtherClinicalInformationForm", "#ClinicalInformation",
            "Other", "#OtherClinicalInformation"
        );
    }

    function ShowHibVaccinationDateIfHibVaccinationIsYes()
    {
        ShowDivIfDropDownHasSpecificSelectedValueOrClearInputOtherwise(
            "#HibVaccinationDateForm", "#HibVaccination",
            "Yes", "#HibVaccinationDate"
        );
    }

</script>

