@using HaemophilusWeb.Views.Utils
@model HaemophilusWeb.Models.EucastClinicalBreakpoint

<div class="form-group row">
    @Html.LabelFor(model => model.Antibiotic, htmlAttributes: new { @class = "col-form-label col-sm-2" })
    <div class="col-sm-5">
        @EnumEditor.EnumDropDownListFor(Html, model => model.Antibiotic, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Antibiotic, "", new { @class = "text-danger" })
    </div>
</div>

@Html.TextEditorFor(m => m.AntibioticDetails, "Meropenem (meningitis)")
@Html.TextEditorFor(m => m.Version, "1.0")

@Html.EnumRadioEditorFor(m => m.ValidFor)
@Html.DateEditorFor(m => m.ValidFrom)

@Html.TextEditorFor(m => m.MicBreakpointSusceptible, "0,5")
@Html.TextEditorFor(m => m.MicBreakpointResistent, "0,5")

<script>
    preventSiteNavigationWithPendingChanges();
</script>