@using HaemophilusWeb.Models
@using HaemophilusWeb.Utils
@model IEnumerable<HaemophilusWeb.ViewModels.PatientSendingViewModel<Patient, Sending>>

@{
    ViewBag.Title = "Gelöschte Einsendungen";
}
<table class="table table-striped" id="sendings">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient.Initials)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sending.Isolate.StemNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sending.Isolate.LaboratoryNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sending.ReceivingDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.Initials)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sending.Isolate.StemNumberWithPrefix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sending.Isolate.LaboratoryNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sending.ReceivingDate)
                </td>
                <td>
                    @Html.ActionLink("Wiederherstellen", "Undelete", new { id = item.Sending.SendingId }, new { @class = "btn btn-success btn-sm" })
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#sendings').dataTable({
                "lengthChange": false,
                "order": [0, 'asc'],
                "pageLength": 8,
                "stateSave": true,
                "language": {
                    "url": "@Url.Content("~/Scripts/dataTables.german.js")"
                }
            });
        });
    </script>
}