@using HaemophilusWeb.Models
@using HaemophilusWeb.Views.Utils
@model IEnumerable<HaemophilusWeb.ViewModels.PatientSendingViewModel>

@{
    ViewBag.Title = "Einsendungen";
}
<p>
    @Html.ActionLink("Neue Einsendung erfassen", "Create", "PatientSending", null, new { @class = "btn btn-default" })
</p>
<table class="table table-striped" id="patientSendings">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient.Initials)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sending.Isolate.StemNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sending.ReceivingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sending.SamplingLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sending.Invasive)
            </th>
            <th>
                Labornummer
            </th>
            <th></th>
        </tr>
    </thead>
    
</table>

@section scripts
{
    <script>
        $(document).ready(function()
        {
            $('#patientSendings').dataTable({
                "lengthChange": false,
                "order": [2, 'desc'],
                "pageLength": 8,
                "stateSave": true,
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "@Url.Content("~/PatientSending/DataTableAjax")",
                    "type": "POST"
                },
                "language": {
                    "url": "@Url.Content("~/Scripts/dataTables.german.js")"

                },
                "columnDefs": [
                    {
                        "defaultContent": "<i>kein Eintrag</i>",
                        "targets": "_all"
                    }
                ],
                "columns": [
                    {
                        "data": "Initials",
                    },  
                    {
                        "data": "BirthDate",
                    },
                    {
                        "data": "StemNumber",
                    },
                    {
                        "data": "ReceivingDate",
                    },
                    {
                        "data": "SamplingLocation",
                    },
                    {
                        "data": "Invasive",
                    },
                    {
                        "data": "LaboratoryNumber",
                    },
                    {
                        "data": "Link",
                    }
                ]
            });
        });
    </script>
}
