@using HaemophilusWeb.Views.Utils
@model HaemophilusWeb.ViewModels.FromToQueryWithAdjustment

@{
    ViewBag.Title = "RKI Export (Haemophilus)";
}

<h3>Entnahmedatum</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)

        <div class="row mb-3">
            @Html.DateEditorFor(m => m.From)
            @Html.DateEditorFor(m => m.To)
        </div>
        <div class="row mb-3">
            @Html.EnumRadioEditorFor(m => m.Unadjusted)
            <small class="form-text text-muted offset-sm-2">Unbereinigt: Inklusive doppelter Einsendungen.</small>
        </div>
        <div class="row mb-3">
            <div class="offset-md-2 col-md-10">
                <input type="submit" name="primary-submit" value="Exportieren nach Excel" class="btn btn-primary" />

            </div>
        </div>
    </div>
}
