@using System.Reflection
@using System.Threading
@using HaemophilusWeb.Controllers
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Haemophilus Web - @ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jquerydatatable")
        @Scripts.Render("~/bundles/bootstrap")
        
        @Scripts.Render("~/bundles/site")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Haemophilus", "Index", "Home", null, new {@class = "navbar-brand"})
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Einsender", "Index", "Sender")</li>
                        <li>@Html.ActionLink("Einsendungen", "Index", "PatientSending")</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Über", "About", "Home")</li>
                    </ul>
                    @*@Html.Partial("_LoginPartial")*@
                </div>
            </div>
        </div>
        <div class="container body-content">
            <div class="page-header">
                <h1>@ViewBag.Title 
                    @if (!String.IsNullOrEmpty(ViewBag.Subtitle))
                    {
                        <small>@ViewBag.Subtitle</small>
                    }
                </h1>
            </div>
            <div id="errorMessages">
            </div>

            @if (IsSectionDefined("CreateModel") || IsSectionDefined("EditModel"))
            {
                using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        
                        @Html.ValidationSummary(true)
                     
                        @if (IsSectionDefined("CreateModel"))
                        {
                            @RenderSection("CreateModel")
                        }
                        @if (IsSectionDefined("EditModel"))
                        {
                            @RenderSection("EditModel")
                        }
                     
                        @if (IsSectionDefined("CreateModel"))
                        {
                            @Html.Partial("_CreateButton")
                        }
                        else if (IsSectionDefined("EditModel"))
                        {
                            @Html.Partial("_EditButton")
                        }
                    </div>
                }
            }

            @RenderBody()
            <hr />
            <footer>
                <p>
                    &copy; @DateTime.Now.Year 
                    - Konsiliarlabor für Haemophilus influenzae, Inst. für Hygiene und Mikrobiologie, Würzburg, Deutschland
                    - Version: @Assembly.GetAssembly(typeof (HomeController)).GetName().Version
                </p>
            </footer>
        </div>

        
        <script>
            $(document).ready(function()
            {
                $(".datepicker").datepicker(
                    {
                        "format": "dd.mm.yyyy",
                    });
                Globalize.culture("de-DE");
            });
        </script>

        @RenderSection("scripts", false)

        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/globalize-de-DE")
        @Scripts.Render("~/bundles/globalized-validation")
    </body>
</html>