@using System.Configuration
@using System.IdentityModel.Protocols.WSTrust
@using System.Reflection
@using System.Threading
@using HaemophilusWeb.Controllers
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Haemophilus Web - @ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jquerydatatable")
        @Scripts.Render("~/bundles/bootstrap")
        
        @Scripts.Render("~/bundles/site")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Haemophilus", "Index", "Home", null, new {@class = "navbar-brand"})
                </div>
                <div class="navbar-collapse collapse">
                    @if (Request.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Einsender", "Index", "Sender")</li>
                            <li>@Html.ActionLink("Einsendungen", "Index", "PatientSending")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Export <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("RKI Export", "RkiExport", "PatientSending")</li>
                                    <li>@Html.ActionLink("Labor Export", "LaboratoryExport", "PatientSending")</li>
                                    <li>@Html.ActionLink("Einsender Export", "Export", "Sender")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Administration <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>@Html.ActionLink("Gelöschte Einsender", "Deleted", "Sender")</li>
                                    <li>@Html.ActionLink("Gelöschte Einsendungen", "Deleted", "PatientSending")</li>
                                    <li>@Html.ActionLink("EUCAST Grenzwerte", "Index", "EucastClinicalBreakpoints")</li>
                                </ul>
                            </li>
                        </ul>
                    }
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            <div class="page-header">
                <h1>@ViewBag.Title 
                    @if (!String.IsNullOrEmpty(ViewBag.Subtitle))
                    {
                        <small>@Html.Raw(ViewBag.Subtitle)</small>
                    }
                </h1>
            </div>
            <div id="errorMessages">
                @if ("true".Equals(ConfigurationManager.AppSettings["Beta"]))
                {
                    <div class="alert alert-danger">
                        <strong>Achtung: Änderungen werden nicht zentral gespeichert!</strong>
                        Diese Software-Version ist nur eine Demonstrations künftiger Funktionen.
                        Bitte nutzen Sie die <a href="http://db.hygiene.uni-wuerzburg.de/Haemophilus">reguläre Version</a> für den produktiven Einsatz!
                    </div>
                }
            </div>

            @if (IsSectionDefined("CreateModel") || IsSectionDefined("EditModel") || IsSectionDefined("DeleteModel"))
            {
                using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        
                        @Html.ValidationSummary(true)
                     
                        @if (IsSectionDefined("CreateModel"))
                        {
                            @RenderSection("CreateModel")
                            @Html.Partial("_CreateButton")
                        }
                        @if (IsSectionDefined("EditModel"))
                        {
                            @RenderSection("EditModel")
                            @Html.Partial("_EditButton")
                        }
                        @if (IsSectionDefined("DeleteModel"))
                        {
                            @RenderSection("DeleteModel")
                            @Html.Partial("_DeleteButton")
                        }
                    </div>
                }
            }

            @RenderBody()
            <hr />
            <footer>
                <p>
                    &copy; @DateTime.Now.Year 
                    - Referenzzentrum für Meningokokken und <i>H. influenzae</i> (NRZMHi), Inst. für Hygiene und Mikrobiologie, Würzburg, Deutschland
                    - Version: @Assembly.GetAssembly(typeof (HomeController)).GetName().Version
                </p>
            </footer>
        </div>

        
        <script>
            $(document).ready(function()
            {
                $(".datepicker").datetimepicker(
                    {
                        format: "DD.MM.YYYY",
                        pickTime: false,
                        language: "de",
                    });
                $(".datetimepicker").datetimepicker(
                    {
                        format: "DD.MM.YYYY HH:mm",
                        language: "de",
                    });
                Globalize.culture("de-DE");

                var errorMessage ='@TempData["ErrorMessage"]';
                if (errorMessage.length > 0) {
                    ShowError(errorMessage);
                }

                var warningMessage = '@TempData["WarningMessage"]';
                if (warningMessage.length > 0)
                {
                    ShowWarning(warningMessage);
                }

                // Support for formatted date sorting in datatables
                $.fn.dataTable.moment('DD.MM.YYYY');
            });
        </script>

        @RenderSection("scripts", false)

        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/globalize-de-DE")
        @Scripts.Render("~/bundles/globalized-validation")
    </body>
</html>