@using HaemophilusWeb.Views.Utils
@model HaemophilusWeb.ViewModels.MergePatientConfirmation

@{
    ViewBag.Title = "Zusammenfügen von Patienten (Meningokokken)";
}

<h3>Bestätigung</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true)
    
    @Html.HiddenFor(m => m.PatientOneId)
    @Html.HiddenFor(m => m.PatientTwoId)

    @Html.ReadonlyFor(m => m.PatientOne)
    <div class="form-group">
        <div class="col-sm-2 control-label">@Html.LabelFor(m => m.PatientOneSendings)</div>
        <div class="col-sm-5 form-control-static">
            <ul>
                @foreach (var sending in Model.PatientOneSendings)
                {
                    <li>@sending</li>
                }
            </ul>
        </div>
    </div>
    
    @Html.ReadonlyFor(m => m.PatientTwo)
    <div class="form-group">
        <div class="col-sm-2 control-label">@Html.LabelFor(m => m.PatientTwoSendings)</div>
        <div class="col-sm-5 form-control-static">
            <ul>
                @foreach (var sending in Model.PatientTwoSendings)
                {
                    <li>@sending</li>
                }
            </ul>
        </div>
    </div>
    
    @Html.EnumRadioEditorFor(m => m.MainPatient)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="primary-submit" value="Zusammenfügen und doppelten Patienten löschen" class="btn btn-danger" />
            TODO cancel/back
        </div>
    </div>
</div>
}

